:root{
    --primary-color:#b6b7e4d6;
    --secundary-color:#989ada;
    --dark-color:#000000;
    --text-color:#000000;
    --bg-color:#ffffff;
    
    --padding:15px;
    --radius:8px;


}

/* reset */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Corpo da página*/
body{
    font-family: Arial, sans-serif;
    background-color: #f5f3efe7;
   
}
/*Cabeçalho fixo*/
.header{
    background-color:#d7d8f4;
    color: var(--dark-color);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align:center;
}

/*banner*/
.banner{
background-color:#b6b7e4d6;
padding: 20px; 
margin: 20px;
border-radius: 8px;
text-align: center;
animation: fadeIn 1s ease-in;
}

main{
    margin-top: 100px;
}

/* Seção de Produtos*/
.produtos{
display:grid;
grid-template-columns:1fr 1fr;
gap: 15px;
padding: 10px;
/*justify-content: center;*/
/* margin: 20px;*/
}


/*cards produtos lado a lado*/
.product-card{
/*position: relative*/
/*display: inline-block;*/
/* width: 45%;*/
background-color: var(--bg-color);
border: 1px solid #ddd;
padding: 15px;
text-align: center;
transition: transform 0.3s, box-shadow 0.3s;
/*width: 250px;*/
/*border-radius: 5px;*/
/* margin: 10px;*/
/*vertical-align: top; */

}

/* bagde NOVO*/
.bagde-novo{
position: absolute;
top: 5px;
right: 5px;
border: 1px solid var(--bg-color);
background-color: #cd1818;
color:var(--dark-color);
border-radius: 5px;
padding: 2px;
}

/*product hover*/
.product:hover{
transform: translateY(-5px);
box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
border-color:var(--secundary-color);
}


/*Rodape*/
.footer{
    background-color: var(--primary-color);
    color: var(--dark-color);
    text-align: center;
    padding: 15px;
   /* margin-top: 20px;*/
}

/*menu horizontal flex*/
.nav-menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}


.nav-menu  li{
margin: 0 15px;
}

.nav-menu a{
    color:#000000a7;
    text-decoration:none;
}

/*hover do menu*/
.nav-menu a:hover{
    text-decoration:underline;
}

/*tablet*/
@media (min-width:768px){
    .products{
        grid-template-columns: 1fr,1fr;
    }
}

/*desktop*/
@media (min-width:1024px){
    .products{
        grid-template-columns: repeat(3,1fr);
    }

}

/*animação*/
@keyframes fadeIn{
    from{
opacity: 0;
 transform: translateY(10px);}
to {
opacity: 1;
transform: translateY(0);
 }
}
